[submodule "ThirdParty/Maxima"]
	path = ThirdParty/Maxima
	url = https://github.com/ArmchairDevelopers/Maxima
[submodule "CLI/ThirdParty/Maxima"]
	path = CLI/ThirdParty/Maxima
	url = https://github.com/ArmchairDevelopers/Maxima
	branch = revert/umu-setup-changes
